<div class="title-wrapper">
    <h1>{{this.title}}</h1>
</div>
<div class="common-template-wrapper">
    <div class="common-template-sub-wrapper">
        <div class="breadcrumbs">
            <a href="#/home">Home</a><span class="raquo">»</span>Single
        </div>
        <div class="container">
            <div class="left-side">
                <div class="content-box">
                    <img src="/static/images/border.png" alt="Stylish border" class="border-pic">
                    <p class="sub-text">{{this.location}}</p>
                    <div class="img-wrapper">
                        <img src={{this.image}} alt="Event Picture">
                    </div>
                    <p class="text-wrapper">
                        <p>Date: <strong>{{this.date_time}}</strong></p>                        
                        <p>Magnitude: <strong>{{this.magnitude}}</strong></p>
                        <p>Longitude: <strong>{{this.longitude}}</strong></p>
                        <p>Latitude: <strong>{{this.latitude}}</strong></p>
                        <p>Depth: <strong>{{this.depth}}</strong></p>
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="content-box">
                    <p class="content-title">Number of comments</p>
                    <img src="/static/images/border.png" alt="Stylish border" class="border-pic">
                    <div class="clearfix"></div>
                    <div class="user-img">
                        <img src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg" alt="Event Picture">
                    </div>
                    <div class="user-comment-box">
                        <p class="user-name">User Name</p>
                        <div class="user-comment">TExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExtTExt</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="add-comment-wrapper">
                        <p class="content-title">Leave a comment</p>
                        <img src="/static/images/border.png" alt="Stylish border" class="border-pic">
                        <input type="text" placeholder="Your Name" />
                        <textarea name="" id="comment-area" col="30" rows="10" placeholder="Your comment ..."></textarea>
                    </div>


                </div>
            </div>
            <div class="sidebar">
                <h4 class="widgettitle">Recent Posts</h4>
                <div class="widget">
                    <div class="widget-bottom">
                        <div class="widget-content">
                            <div class="widget-text">
                                <ul>
                                    <li>
                                        <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/make-a-wish/">Make A Wish</a>
                                    </li>
                                    <li>
                                        <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/the-morning-dew/">The Morning Dew</a>
                                    </li>
                                    <li>
                                        <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/purple-haze/">Purple Haze</a>
                                    </li>
                                    <li>
                                        <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/bridge-to-nowhere/">Bridge To Nowhere</a>
                                    </li>
                                    <li>
                                        <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/the-lonely-ladybug/">The Lonely Ladybug</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="widgettitle">Recent Comments</h4>
                <div class="widget">
                    <div class="widget-bottom">
                        <div class="widget-content">
                            <div class="widget-text">
                                <ul class="recentcomments">
                                    <li class="recentcomments"><span class="comment-author-link"><a href="http://www.elegantthemes.com/blog/theme-additions/new-theme-deepfocus" rel="external nofollow" class="url">New Theme: DeepFocus- Elegant Themes Blog</a></span>                                        on <a href="http://www.elegantthemes.com/preview/Envisioned/2010/09/15/purple-haze/#comment-580">Purple Haze</a></li>
                                    <li class="recentcomments"><span class="comment-author-link"><a href="http://%/loveworld5" rel="external nofollow" class="url">Frankie</a></span>                                        on <a href="http://www.elegantthemes.com/preview/Envisioned/2008/01/18/at-vero-eos-et-accusamus-et-iusto/#comment-23">At vero eos et accusamus et iusto</a></li>
                                    <li class="recentcomments"><span class="comment-author-link"><a href="http://%/loveworld4" rel="external nofollow" class="url">Soviet</a></span>                                        on <a href="http://www.elegantthemes.com/preview/Envisioned/2008/07/17/urna-eget-erat-non-purus/#comment-498">Urna eget erat non purus</a></li>
                                    <li class="recentcomments"><span class="comment-author-link"><a href="http://%/loveworld3" rel="external nofollow" class="url">Light</a></span>                                        on <a href="http://www.elegantthemes.com/preview/Envisioned/2008/09/04/hello-world-2/#comment-246">Neque porro quisquam est qui</a></li>
                                    <li class="recentcomments"><span class="comment-author-link"><a href="http://%/loveworld2" rel="external nofollow" class="url">Сергей</a></span>                                        on <a href="http://www.elegantthemes.com/preview/Envisioned/2006/09/28/aenean-bibendum-elementum-pede/#comment-8">Aenean bibendum elementum pede</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="widgettitle">About Me</h4>
                <div class="widget">
                    <div class="widget-bottom">
                        <div class="widget-content">
                            <div class="widget-text">
                                <div class="textwidget">Nam commodo dignissim felis vitae ullamcorper. Sed volutpat velit id purus bibendum placerat.
                                    Sed porta, nulla ac interdum ullamcorper, mi orci porta eros, nec commodo ligula dolor
                                    et arcu. Quisque ullamcorper enim vel tellus rhoncus et fermentum diam congue. Phasellus
                                    eu turpis lorem, id gravida nunc. In bibendum nulla vel quam pretium a fringilla erat
                                    ornare. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>